@import './variables.scss';
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: $primary-color;
  color: $background-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  min-height: 60px;
  // has space between windows border
  .containerMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;

    // logo container
    .logoContainer {
      display: flex;
      align-items: center;
      .logo {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 50%;
      }
      .companyName {
        font-size: 24px;
        font-weight: bold;
        color: $background-color;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px; // Ajusta esto según sea necesario
      }
    }

    // user container
    .userContainer {
      display: flex;
      align-items: center;
      .icon {
        width: 24px;
        height: 24px;
        margin-right: 10px;
        fill: $background-color;
        cursor: pointer;
        &:hover {
          fill: $accent-color;
        }
      }
      .userName {
        font-size: 16px;
        color: $background-color;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px; // Ajusta esto según sea necesario
      }
    }
  }
  
}