@import './variables.scss';

.userTable {
  .tableControls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 1rem;

    input {
      padding: 0.5rem;
      border: 1px solid $accent-color;
      border-radius: 4px;
      min-width: 60%;
    }

    button {
      // padding: 0.5rem 1rem;
      background-color: $primary-color;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin: 0;
      &:hover {
        background-color: $accent-color;
      }
    }

    select {
      padding: 0.5rem;
      border: 1px solid $accent-color;
      border-radius: 4px;
    }
  }

  .table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid $secondary-color;
      padding: 0.75rem;
      text-align: left;
    }

    th {
      background-color: $background-color;
    }

    tbody tr:nth-child(even) {
      background-color: $background-color;
    }

    tbody tr:hover {
      background-color: $accent-color;
    }
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    .buttonContainer {
      // max-width: 60%;
      display: flex;
    }

    button {
      padding: 0.5rem 1rem;
      margin: 0 0.25rem;
      background-color: $primary-color;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      &:disabled {
        background-color: $text-color;
        cursor: not-allowed;
      }
    }

    input {
      width: 50px;
      padding: 0.5rem;
      border: 1px solid $accent-color;
      border-radius: 4px;
    }
  }

  @media (max-width: 768px) {
    .tableControls {
      flex-direction: column;
      align-items: stretch;

      input {
        min-width: 100%;
        margin-bottom: 0.5rem;
      }

      button {
        width: 100%;
        margin-bottom: 0.5rem;
      }

      select {
        width: 100%;
        margin-bottom: 0.5rem;
      }
    }

    .table {
      display: block;
      overflow-x: auto;

      th,
      td {
        white-space: nowrap;
      }
    }

    .pagination {
      flex-direction: column;
      align-items: stretch;

      .buttonContainer {
        justify-content: center;
        margin-bottom: 0.5rem;
      }

      button {
        width: 100%;
        margin-bottom: 0.5rem;
      }

      input {
        width: 100%;
        margin-bottom: 0.5rem;
      }
    }
  }
}